# something to ignore
Older Files
Workspaces
Project Maps
TX Census Data files
Optim
VOptim
All Zip Latitudes and Longitudes
Version 1


simulationresults.csv
Deprecated.jl
parallelnotes.txt
computetimeestimate.jl
threadjunk.jl
timer.txt
TXzipsonly.csv
temp_results_48001.csv
scratch.jl
birthvariances.csv
DemandSDSimulation.csv
temp_results_48003.csv
temp_results_48029.csv
HCCFinder.py
TXfidsonly.csv
WTPTemplate.csv
nohup.out
todolist.txt
fileiolearn.jl
outtest.jl
